@import "vars";
@import "libs";
@import "fonts";
@import "global";


header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  & img {
    width: 100%;
    height: 100vh;
  }
}

.image {
  background:url(../img/man2.png)center bottom/cover no-repeat;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
}


@import "media";